


body {
  height: 100vh;
  width: 100vw;
  background-color: white;
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

::placeholder { 
  color: #2483FF;
  opacity: 0.7; 
}




code {
  font-family: 'Inter', sans-serif;
}
